:root{
    --MyRed:#ff0022;
    --MyLighBlue:#edfdfb;
    --MyGreen: #b9bab8;
    --MyPink: #f8e9f2;
    --MyBlack: #04030f;
}
@font-face {
    font-family:MyFontBold;
    src: url(../static/Assistant-Bold.ttf);
}

*{
    padding: 5px;
    margin: 5px;
    /*color: rgb(126, 126, 245);*/
}

body{
   /* border: 2px solid black;
    background-color:var(--MylighBlue1);*/
    background-image: url(../static/pizza.jfif);
    font-family:MyFontBold;
   /* background-repeat:no-repeat ;
    background-position: center;*/
}
form{
    background-color: var(--MyPink);
    height: 50vh;
    width: 50vw;

}
label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*
#GoButton{
    background-color: Vrgb(210, 210, 210);
}
label.First2, input{
    color: blueviolet;
    background-color: rgb(244, 232, 218);
}*/
form h1{
    color:black;

}

a:link{
    color: black;
    background-color: var(--MyGreen);
}
a:visited{
    background-color:var(--MyRed);
}
a:hover{
    background-color:var(--MyLighBlue);
}
/*input[name]{
    background-color: rgb(247, 247, 203);
}*/

