:root{
    --MyRed:#ff0022;
    --MyLighBlue1:#edfdfb;
    --MyGreen: #b9bab8;
    --MyPink: #f8e9f2;
    --MyBlack: #04030f;
}
@font-face {
    font-family:MyFontBold;
    src: url(../static/Assistant-Bold.ttf);
}

/*{
    color: rgb(126, 126, 245);
}*/
body{
   /* border: 2px solid black;
    background-color:var(--MylighBlue1);*/
    background-image: url(../static/pizza.jfif);
    font-family:MyFontBold;
   /* background-repeat:no-repeat ;
    background-position: center;*/
}
/*
#GoButton{
    background-color: Vrgb(210, 210, 210);
}
label.First2, input{
    color: blueviolet;
    background-color: rgb(244, 232, 218);
}*/
form h1{
    color:var(--MyRed);
}
a:link{
    color: black;
    background-color: rgb(248, 221, 221);
}
a:visited{
    background-color:rgb(149, 250, 149);
}
a:hover{
    background-color: rgb(242, 232, 203);
}
/*input[name]{
    background-color: rgb(247, 247, 203);
}*/

